@using MudBlazor
<div class="loading-container">
    <LoadingBattery BatteryAmpere="@BatteryData.Ampere"
                    BatteryAmpereH="@BatteryData.AmpereH"
                    Time="@BatteryData.DateTime"
                    BatteryPercent="@BatteryData.Percent" />

    <LoadingSolar Active="@SolarData.Active"
                  Reduce="@SolarData.Reduce"
                  AES="@SolarData.AES"
                  LoadingPhase="@SolarData.LoadingPhase"
                  SolarAmpere="@SolarData.Ampere" />
</div>


@code {
    [Parameter] public VotronicBatteryData BatteryData { get; set; }
    [Parameter] public VotronicSolarData SolarData { get; set; }
}
