@page "/"
@using chd.CaraVan.Contracts.Dtos
@using chd.CaraVan.UI.Components.Pages.Cards
@using Blazorise
@inherits PageComponentBase<int,int>

<SwipeArea OnSwipe="this.OnSwipe" PixelToSwipe="50">
    <div class="home-content">
        <Carousel @ref="@this._carousel" @bind-SelectedSlide="_selectedSlide" ShowIndicators="false" ShowControls="false" Autoplay="@this._settings.AutorotateCarousel" Interval="10000"  >
            <CarouselSlide Name="Time">
               <CurrentTime />
            </CarouselSlide>
            <CarouselSlide Name="Battery">
                @if (this.VotronicBatteryData != null)
                {
                    <LoadingBattery BatteryAmpere="@VotronicBatteryData.Ampere"
                                    BatteryAmpereH="@VotronicBatteryData.AmpereH"
                                    Time="@DateTime.Now"
                                    BatteryPercent="@VotronicBatteryData.Percent" />
                }
            </CarouselSlide>
            <CarouselSlide Name="Solar">
                @if (this.VotronicSolarData != null)
                {
                    <LoadingSolar Active="@VotronicSolarData.Active"
                                  Reduce="@VotronicSolarData.Reduce"
                                  AES="@VotronicSolarData.AES"
                                  LoadingPhase="@VotronicSolarData.LoadingPhase"
                                  SolarAmpere="@VotronicSolarData.Ampere" />
                }
            </CarouselSlide>
            <CarouselSlide Name="Sensors">
                <div class="sensor-data">
                    @foreach (var device in this._devices)
                    {
                        @if (this._valueDict.ContainsKey(device.Id))
                        {
                            <SensorCard Name="@device.Name"
                                        Value="this.RuuviValue(device).Value" />
                        }
                    }
                </div>
            </CarouselSlide>
        </Carousel>
    </div>
</SwipeArea>
